#logoPanier {
    width : 75px;
    margin-top : -70px;
    position : sticky;
    top : 0;
    float : right;
    padding-bottom : 0;
    padding-top : 5px;
    margin-right : -60px;
    }
    .chiffreLogoPanier {
    display : block;
    position : sticky;
    top : 0;
    float : right;
    padding-bottom : 0;
    padding-right : 25px;
    margin-top : -70px;
    font-size : 3em;
    z-index : 100;
    color : red;
    font-family : Arial, Helvetica, sans-serif;
    font-weight: 900;
    }
    .titreIndex {
    text-align : center;
    font-size : xx-large;
    font-family : DejaVu Sans Mono, monospace;
    margin-top : 50px;
    }
    .contenantDeContenantsIndex {
    display : flex;
    flex-wrap : wrap;
    transform : translate(-50%);
    min-width : 300px;
    width : auto;
    margin-left : 50%;
    }
    .contenantProduitsIndex {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    border-style : solid;
    border-radius : 5pt;
    border-color : black;
    margin : 10px;
    }
    .contenuProduitIndex {
    display : inline;
    text-align : center;
    }
    .contenuProduitIndex:hover {
    background-color : antiquewhite;
    }
    .imgProduitIndex {
    min-width : 10%;
    max-width : 60%;
    width : auto;
    }
    .lienImage {
    color : black;
    text-decoration : none;
    text-align : center;
    display : inline-block;
    }
    .contenuIndex {
    padding-left : 10px;
    padding-right : 10px;
    text-align : center;
    list-style-type : none;
    }
    ul.contenuIndex {
    padding-left : 25px;
    padding-right : 10px;
    text-align : center;
    }
    .imgDetailProduit {
    float : left;
    min-width : 100px;
    max-width : 380px;
    width : auto;
    padding : 10px;
    }
    .imgBouttonAjouterPanier {
    width : 5%;
    min-width : 50px;
    float : right;
    }
    .titreProduitDetail {
    margin-top : 20px;
    margin-bottom : 10px;
    }
    .prix {
    display : inline-block;
    margin-top : 0;
    padding-bottom : 0;
    margin-bottom : 0;
    }
    .header {
    background-color : bisque;
    padding : 15px;
    margin : -8px;
    }
    .listeHeader {
    padding-left : 20px;
    display : inline-block;
    position : relative;
    z-index : 1;
    }
    .logo {
    padding-left : 45%;
    margin-top : -50px;
    padding-bottom : 20px;
    }
    @media (max-width: 400px) {
    .logo {
    margin-left : 0;
    margin-top : 10px;
    padding-bottom : 0;
    width : 50px;
    }
    }
    .contenantDeContenantPanier {
    transform : translate(-15%);
    min-width : 300px;
    width : auto;
    margin-left : 25%;
    column-count : 1;
    }
    .contenantPanier {
    flex-direction : column;
    border-style : solid;
    border-radius : 5pt;
    border-color : black;
    margin : 10px;
    padding : 10px;
    padding-top : 5px;
    min-height : 220px;
    }
    .imgPanier {
    float : left;
    max-width : 200px;
    width : auto;
    padding : 1%;
    padding-bottom : 0;
    }
    @media (max-width: 500px) {
    .imgPanier {
    margin-right : -5px;
    padding : 0;
    display : inline-block;
    padding-left : 25px;
    }
    .boutonPanierX {
    position : absolute;
    }
    }
    .boutonPanierX {
    float : inline-end;
    margin : 0;
    border-radius : 5px;
    border-style : solid;
    border-color : black;
    width : 35px;
    height : 35px;
    background-color : bisque;
    font-weight : bold;
    font-size : large;
    }
    .titrePanier {
    display : inline-block;
    font-weight : bold;
    margin-top : 0;
    margin-bottom : 10px;
    }
    .formQt {
    display : inline-block;
    margin : 0;
    margin-bottom : 10px;
    }
    .btnQtPanier {
    width : 35px;
    height : 25px;
    font-size : large;
    font-weight : bolder;
    }
    .formFinPanier {
    position : sticky;
    top : 0;
    padding-top : 5px;
    }
    .btnFinPanier {
    background : rgb(32, 208, 0);
    background : linear-gradient(0deg, rgb(32, 208, 0, 1) 0%, rgb(180, 255, 191, 1) 100%);
    color : white;
    font-weight : bold;
    border-style : none;
    height : 30px;
    }
    .footer {
    background-color : bisque;
    padding : 15px;
    margin : 15px -8px -8px -8px;
    text-align : right;
    }
    .produitDet {
    min-height : 380px;
    }
    .contenuRecherche {
    border-style : none;
    margin-top : 120px;
    font-size : larger;
    }
    .contenantDeContenantRech {
    transform : translate(-15%);
    min-width : 300px;
    min-height : 300px;
    width : auto;
    margin-left : 25%;
    column-count : 1;
    }
    .imgRech {
    max-width : 200px;
    width : auto;
    float : left;
    padding-right : 10px;
    margin-top : -10px;
    }
    .recherche {
    padding : 20px;
    padding-bottom : 0;
    position : absolute;
    z-index : 0;
    }
    @media screen and (max-width: 900px) {
    .contenantDeContenantRech {
    padding-top : 200px;
    }
    .recherche {
    z-index : 1000;
    }
    }
    @media (max-width: 500px) {
    .imgRech {
    margin-right : -5px;
    padding : 0;
    display : inline-block;
    padding-left : 25px;
    }
    .boutonPanierX {
    position : absolute;
    }
    }
    .paginationRecherche {
    transform : translate(-15%);
    min-width : 300px;
    width : auto;
    margin-left : 25%;
    padding-top : 10px;
    }
    #divSuggestions {
    padding : 0 0 0 0;
    background-color : rgb(250, 250, 250);
    width : 163.4px;
    position : absolute;
    border-style : solid;
    border-width : 0.8px;
    border-top : none;
    overflow-y : scroll;
    }
    .ulSuggestions {
    position : static;
    padding : 0;
    margin : 0;
    padding-left : 5px;
    overflow : hidden;
    }
    .liSuggestions:hover {
    background-color : whitesmoke;
    padding : 0;
    }
    #txtRecherche {
    width : 165px;
    }
    #divAffichageComplet {
    margin-top : 10px;
    padding-left : 10px;
    border-style : solid;
    border-radius : 5px;
    background-color : rgb(250, 250, 250);
    position : absolute;
    overflow-y : scroll;
    width : 95%;
    max-width : 500px;
    max-height : 60%;
    z-index : 10000;
    }
    .contenuRecents {
    display : inline-block;
    border-style : none;
    font-size : larger;
    width : 95%;
    }
    .imgContenuRecents {
    width : 75px;
    float : left;
    padding : 5px;
    }
    #imgRecents {
    margin-top : -50px;
    padding-right : 5px;
    padding-top : 2px;
    padding-bottom : 2px;
    width : 50px;
    position : absolute;
    float : left;
    border-radius : 50px;
    }
    #imgRecents:hover {
    background-color : olivedrab;
    }
    @media (max-width: 400px) {
    #imgRecents {
    margin-top : 5px;
    }
    }
    #divMenuPanier {
    margin-top : 10px;
    padding-left : 10px;
    border-style : solid;
    border-radius : 5px;
    background-color : rgb(250, 250, 250);
    position : absolute;
    right : 0;
    overflow-y : scroll;
    display : flex;
    flex-direction : column;
    min-width : 50%;
    z-index : 10000;
    max-height : 60%;
    }
    #pardessusPanier {
    width : 75px;
    height : 75px;
    margin-top : -70px;
    position : absolute;
    right : 0;
    padding-bottom : 0;
    padding-top : 5px;
    z-index : 1000;
    }
    .imgMenuPanier {
    width : 75px;
    float : left;
    padding : 5px;
    }
    .titreMenuPanier {
    padding-bottom : 5px;
    margin : 0;
    display : inline-block;
    }
    .divMenuPanier {
    flex-direction : row;
    border-style : none;
    margin-bottom : 10px;
    display : inline-block;
    }
    .enlever {
    cursor : pointer;
    color : blue;
    text-decoration : underline;
    }
    .enlever:hover {
    text-decoration : none;
    text-shadow : 1px 1px 1px #555;
    }
    .retourPanier {
    display : inline-block;
    margin-left : 40%;
    padding-bottom : 10px;
    }
    .msgCompte {
    padding : 0;
    margin : 0;
    display : inline-block;
    max-width : 90%;
    overflow-wrap : break-word;
    }
    .inputCompte {
    margin : 0;
    margin-bottom : 10px;
    }